ellipse {
    stroke-width: 5;
    cursor: pointer;
}
line {
    stroke: lightgray;
}
text {
    text-anchor: middle;
    font-family: "Helvetica Neue";
    fill: black;
    font-size: 13px;
}
.control-container {
    position: fixed;
    width: 300px;
    background-color: white;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: light;
}
#control {
    position: fixed;
    width: 300px;
    height: 250px;
    top: 10px;
    left: 10px;
}
#link_distance {
    width: 90%;
}

.label {
    font-size: 20px;
}

/* Investor and round tables */
#lead-container {
    height: 525px;
    top: 10px;
    padding-top: 5px;
}
#lead-table-container {
    height: 500px;
    top: 30px;
}
#investor-container {
    height: 500px;
    top: 580px;
    padding-top: 5px;
}
#investor-table-container {
    height: 475px;
    top: 600px;
}
.table-container {
    position: fixed;
    width: 315px;
    left: 11px;
    border-top: 1px solid;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
}
td {
    height: 35px;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
    border-bottom: 1px solid;
    border-color: lightgray;
    width: 218px;
}
#loading {
    position: absolute;
    top: 45%;
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: light;
    font-size: 20px;
    width: 300px;
}