ellipse {
    fill: white;
    stroke-width: 2;
    stroke: black;
    cursor: pointer;
}
line {
    stroke: black;
}
text {
    text-anchor: middle;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    fill: black;
    font-size: 16px;
}
#control {
    position: fixed;
    width: 200px;
    height: 100px;
    top: 0px;
    right: 0px;
    background-color: white;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: light;
}
.label {
    font-size: 20px;
}