ellipse {
    fill: white;
    stroke-width: 2;
    stroke: black;
}
line {
    stroke: black;
}
text {
    text-anchor: middle;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    fill: #666;
    font-size: 12px;
}