.search-container {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 500px;
    transform: translate(-50%);
}

input {
    width: 100%;
    height: 40px;
    font: 20px Arial;
    padding-left: 10px;
}

table {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-radius: 5px;
    border-color: gray;
    width: 516px;
    max-height: 500px;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

tr {
    font: 20px Arial;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid;
    border-color: lightgray;
    cursor: pointer;
    width: 100%;
    display: block;
    padding-left: 10px;
}

tr:hover {
    background-color: lightgray;
}