.container {
    position: absolute;
    width: 400px;
}
.center {
    left: 50%;
    transform: translate(-50%);
}

.container p {
    margin: 0px;
    font: 20px Arial;
}

#company-container {
    top: 50px;
}
#round-container {
    top: 120px;
}
#filter-container {
    font: 20px Arial;
}
#filter-container label {
    margin-right: 20px;
}
#checkbox-container {
    display: flex;
    font: 15px Arial;
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
}
#company-industry {
    margin-top: 15px;
}
ul {
    font: 15px Arial;
    padding-left: 25px;
    margin-top: 5px;
}
input {
    width: 20px;
    height: 20px;
}
input[type=checkbox] {
    margin-left: 0px;
}
input[type=text] {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font: 20px Arial;
}

table {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: gray;
    max-height: 500px;
    width: 416px;
    display: block;
}
#company-selector {
    overflow-y: scroll;
    overflow-x: hidden;
}
#lead-selector {
    overflow-y: scroll;
    overflow-x: hidden;
}
#round-selector {
    border-top: 1px solid;
}

tr {
    font: 20px Arial;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid;
    border-color: lightgray;
    cursor: pointer;
    width: 404px;
    display: block;
    padding-left: 10px;
    background-color: white;
}

tr:hover {
    background-color: lightgray;
}

/* Graph Styling */
svg {
    position: absolute;
    z-index: -1;
}
ellipse {
    stroke-width: 3;
    cursor: pointer;
}
line {
    stroke: lightgray;
}
text {
    text-anchor: middle;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    fill: black;
    font-size: 16px;
}