#bounding-container {
    position: absolute;
    padding-bottom: 10px;
}
.container {
    width: 250px;
    box-shadow: 0px 0px 3px grey;
    font: 15px "Uber Move Text", sans-serif;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}
.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.search-selection {
    height: 150px;
}
.selected-results {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 125px;
}

#company-container {
    top: 50px;
    padding: 10px;
    border-radius: 10px;
}

.filter-title {
    margin: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="checkbox"] {
    margin-left: 0px;
}
input[type="text"] {
    width: 245px;
    height: 30px;
    border: 0px;
    font: 15px "Uber Move Text", sans-serif;
    outline: none;
    border-bottom: 1px solid;
}
input[type="number"] {
    width: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
}

#selected-investors {
    margin-top: 10px;
}
#selected-categories {
    margin-top: 10px;
}

.dropdown {
    height: 20px;
    width: 245px;
    line-height: 20px;
    cursor: pointer;
    display: block;
    background-color: white;
    overflow-y: scroll;
}
.dropdown:hover {
    background-color: lightgray;
}

.selections {
    height: 20px;
    cursor: pointer;
}
.selections:hover {
    color: gray;
}

/* Graph Styling */
svg {
    position: fixed;
    z-index: -1;
}
ellipse {
    stroke-width: 3;
    cursor: pointer;
}
line {
    stroke: lightgray;
}
.darkline {
    stroke: gray;
    stroke-width: 3px;
}
text {
    text-anchor: middle;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    fill: black;
    font-size: 13px;
}
