ellipse {
    stroke-width: 1;
    stroke: black;
    cursor: pointer;
}
line {
    stroke: black;
}
text {
    text-anchor: middle;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    fill: black;
    font-size: 16px;
}
.control-container {
    position: fixed;
    width: 200px;
    background-color: white;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: light;
}
#control {
    position: fixed;
    width: 200px;
    height: 250px;
    top: 10px;
    left: 10px;
}
#node_strength {
    width: 90%;
}

/* Legend */
.legend_row {
    text-align: left;
    display: flex;
    height: 20px;
    margin-top: 20px;
}
.legend_text {
    margin: 0px;
}
.legend_box {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
    position: absolute;
    right: 40px;
    border: 1px solid;
}
.label {
    font-size: 20px;
}
#box_startup {
    background-color: #F1948A;
}
#box_lead {
    background-color: #C39BD3;
}
#box_cousin {
    background-color: #82E0AA;
}
#box_rec {
    background-color: #85C1E9;
}

/* Company and round tables */
#company-container {
    height: 525px;
    top: 300px;
    padding-top: 5px;
}
#company-table-container {
    height: 500px;
    top: 320px;
}
#round-container {
    height: 200px;
    top: 860px;
    padding-top: 5px;
}
#round-table-container {
    height: 175px;
    top: 880px;
}
.table-container {
    position: fixed;
    width: 218px;
    left: 11px;
    border-top: 1px solid;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
}
td {
    height: 35px;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
    border-bottom: 1px solid;
    border-color: lightgray;
    width: 218px;
}
#loading {
    position: absolute;
    top: 45%;
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: light;
    font-size: 20px;
    width: 200px;
}